/*CSS = ESTILO do SITE*/

/* O primeiro parâmetro que deve ser passado é o da margem do box de todo o site*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*background-image: url("https://abrilveja.files.wordpress.com/2020/03/coronavirus-wp.jpg");*/
  background-image: url("../css/fundo.jpg");
  /*O vh depois do 100 faz com que o background se adapte ao tamanho de qq tela*/
  background-size: auto 200vh;
  font-family: Verdana;
  height: 100vh;
  color: white;
  align-content: flex-end;
  /*  font-size: 12px;*/
}

/*Se a tela for de pelo menos 400px, os estilos contidos neste arquivo serão carregados*/
@media (min-width: 400px) {
  font-size: 14px;
}

@media (min-width: 600px) {
  font-size: 18px;
}

/*Os seguintes comandos de menu (menu ul e menu li) centralizam a header*/
/*header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}*/

/*O comando .menu chama o conteúdo do arquivo HTML*/
.menu {
  background-color: orange;
  position: fixed;
  width: 100vw;
  top: 0px;
}

/*border: 4px solid #cd5c5c;
  box-sizing: border-box;
  1ro parâmetro: a sombra se move para direita (+) ou para esquerda (-)
  2do parâmetro: sombra se move para cima (-) ou para baixo (+)
  3ro parâmetro: quão esfumaçada é a sombra
  4to parâmetro: a dimensão da sombra
  5to parâmetro: cor da sombra
  Ver códigos da paleta de cores em: https://htmlcolorcodes.com/color-names/ 
  box-shadow: 50px 10px 50px 10px rgb(196, 83, 102);
  A margem é dada na seguinte ordem: acima esquerda embaixo direita do comoutador*/

h1 {
  margin: 80px 0px 0px 1000px;
  height: 60px;
  width: 400px;
  font-size: 24px;
  color: white;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  margin: 80px 0px 0px 1000px;
  height: 60px;
  width: 400px;
  font-size: 24px;
  color: white;
  text-align: left;
}

h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 80px 0px 0px 1000px;
  height: 60px;
  width: 400px;
  font-size: 24px;
  color: white;
}

.img-figure1 {
  height: 300px;
  width: 400px;
  border: 4px solid white;
  box-shadow: 5px 5px 50px 5px white;
  box-sizing: border-box;
  margin: 0px 20px 20px 1000px;
}

h4 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 80px 0px 0px 1000px;
  height: 60px;
  width: 400px;
  font-size: 24px;
  color: white;
}

.img-figure2 {
  height: 400px;
  width: 400px;
  border: 4px solid white;
  box-shadow: 5px 5px 50px 5px white;
  box-sizing: border-box;
  margin: 0px 20px 20px 1000px;
}

h5 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 80px 0px 0px 1000px;
  height: 60px;
  width: 400px;
  font-size: 24px;
  color: white;
}

.img-figure3 {
  height: 260px;
  width: 400px;
  border: 4px solid white;
  box-shadow: 5px 5px 50px 5px white;
  box-sizing: border-box;
  margin: 0px 20px 20px 1000px;
}

h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 80px 0px 0px 1000px;
  height: 60px;
  width: 400px;
  font-size: 24px;
  color: white;
}

.img-figure4 {
  height: 260px;
  width: 400px;
  border: 4px solid white;
  box-shadow: 5px 5px 50px 5px white;
  box-sizing: border-box;
  margin: 0px 20px 20px 1000px;
}

/*O display flex faz com que cada informação do site seja uma coluna*/
.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

a {
  color: black;
  font-weight: bolder;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*O "display block" resolve o problema do pedding da caixa fantasma 
das palavras dos links. Caso contrário, quando for aumentar o tamanho do padding,
os links ficam fora da linha ocupando o espaço do background da tela*/
.menu a {
  /*background-color: antiquewhite;*/
  display: block;
  padding: 10px 20px;
}

.site-title,
.site-subtitle {
  color: white;
}

/*O 4em muda o tamanho de letra conforme ao tamanho da tela 
(4x o tamanho definido na body tag)*/
.site-title {
  font-size: 2em;
}

.site-subtitle {
  font-style: italic;
  font-size: 1.5em;
}

.img-portfolio {
  height: 180px;
  width: 180px;
}

element.style {
  margin-left: 30px;
}
